html {
  font-size: 1vw;
  background-color: #fcf0e4;
}

body {
  text-align: center;
}

body p {
  font-family: "Futura PT Demi";
  font-size: 3rem;
  text-align: center;
  line-height: 3.6rem;
}

body p:first-of-type {
  margin-top: 3vw;
}

body p:last-of-type {
  font-family: "Futura PT Light";
  font-size: 2.5rem;
  color: #ef5933;
}

img {
  width: 32%;
  padding-bottom: 3vw;
}

@media (max-width: 375px) {
  body p {
    font-size: 8rem;
    line-height: 9.6rem;
  }

  body p:first-of-type {
    margin-top: 45vw;
  }

  body p:last-of-type {
    font-size: 6rem;
    margin-top: 5vw
  }

  img {
    width: 80%;
  }
}
